#wrap {
  /* 설명회 */
  .section-presentation-title {
    padding-top: 20px;
    padding-bottom: 140px;
    text-align: center;
    .head-copy {
      color: #504b42;
      font-size: 20px;
      font-weight: 600;
      line-height: 34px;
      margin-bottom: 12px;
    }
    .main-copy {
      color: $color-black;
      font-size: 100px;
      font-weight: 100;
      line-height: 120px;
    }

    .sub-copy {
      color: $color-black;
      font-size: 16px;
      font-weight: 400;
      line-height: 27px;
      margin-top: 40px;
    }
  }

  .section-presentation-visual {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
    padding: 120px 0 140px;

    img {
      width: 100%;
    }

    .apply-btn {
      margin-top: 80px;
      display: flex;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-white;
        font-size: 16px;
        line-height: 27px;
        font-weight: 600;
        width: 473px;
        height: 90px;
      }
    }
  }

  /* 시대인재콘텐츠  */
  .section-presentation-content {
    .visual {
      img {
        width: 100%;
      }
    }

    .apply-box {
      background-color: #070707;
      text-align: center;
      padding: 40px 0 60px;
      .apply-date {
        color: $color-white;
        font-size: 16px;
        line-height: 27px;
        font-weight: 500;
        p {
          display: block;
          color: #e3cda2;
          font-size: 28px;
          line-height: 42px;
          font-weight: 600;
        }
      }

      .apply-btn {
        margin-top: 36px;
        display: flex;
        justify-content: center;
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: $color-white;
          font-size: 16px;
          line-height: 27px;
          font-weight: 600;
          width: 341px;
          height: 75px;
        }
      }
    }
    .banner {
      margin-top: 20px;
      img {
        width: 100%;
      }
    }

    .program {
      margin-top: 140px;
      .program-title {
        @include vw(margin-bottom, 40px);
        font-weight: 200;
        @include vw(font-size, 32px);
        @include vw(line-height, 48px);
        color: $color-black;
      }
      img {
        width: 100%;
      }
    }

    .qna {
      @include vw(margin-top, 40px);
      img {
        max-width: 100%;
      }

	
      /*
            background-color:#735E5A;
            text-align:center;
            @include vw(padding,100px 0);
            p{
                strong{
                   display:block;
                   @include vw(margin-bottom,16px);
                    font-weight:300;
                    @include vw(font-size,24px);
                    @include vw(line-height,36px);
                }
                color:$color-white;
                @include vw(font-size,32px);
                @include vw(line-height,48px);
                font-weight:200;
            }
            */
    }

    .info-box {
      @include vw(margin-top, 80px);
      text-align: center;
      display: flex;
      justify-content: space-between;
      p {
        color: $color-black;
        font-weight: 600;
        @include vw(font-size, 16px);
        @include vw(line-height, 27px);
      }
    }
  }
  .section-introduction-visual {
    background: url("../images/etc/bg_visual.png") no-repeat center top;
    background-size: auto 100%;
    height: 600px;
    img {
      width: 100%;
    }
  }
  .section-introduction-system {
    max-width: 1500px;
    margin: 160px auto 0;

    img {
      max-width: 100%;
    }
  }
  .section-introduction-content {
    .wrap {
      img {
        width: 100%;
      }
    }
    .holder {
      padding-top: 200px;
      margin-top: 100px;
      &:first-child,
      &:last-child {
        padding-top: 100px;
      }
    }
  }

  /* 장학혜택 */
  .section-benefit-visual {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
    padding: 297px 0 197px;
    height: 860px;
    @include boxSizing(border-box);

    img {
      width: 100%;
    }
  }
  .section-benefit-content {
    margin-top: 100px;
    img {
      width: 100%;
    }
  }

  .section-benefit2-content {
    .wrap {
      width: 876px;
      margin: 0 auto;
    }
    img {
      width: 100%;
    }
  }

  .section-presentation-schedule{
	.wrap{
		width:876px;
		margin:0 auto;
	}
	.img-box{
		img{
			width:100%;
		}
	}

  .action{
    margin-bottom:120px;
    margin-top:0;
    font-size:0;
    a{
      width:398px;
      margin-left:80px;
      height:91px;
      background-color:#0E4B9E;
      color:#fff;
      font-size:16px;
      &:first-child{margin-left:0;}

    }
  }

	.btn-apply{
		width:500px;
		height:91px;
		background-color:#0E4B9E;
		color:#fff;
		font-size:16px;
		margin-left:0;
		margin-bottom:120px;
	}
  }
}
