#wrap {
  [class^="section-pass"] {
    img {
      max-width: 100%;
    }
  }

  .pass-title {
    padding: 88px 0 82px;
    p {
      font-family: $font-pretendard;
      font-size: 24px;
      line-height: 1.2;
      font-weight: 800;
      color: #2c2923;
    }
  }

  .section-pass {
    &-content {
      padding: 120px 0 160px;
    }

    &-schedule {
      padding: 120px 0 160px;
      background: #f2efe7;
    }

    &-teacher {
      padding: 120px 0 160px;
    }

    &-apply {
      .list {
        display: flex;
        gap: 10px;
        &.point {
          margin-bottom: 10px;
        }
      }

      .action {
        text-align: right;
        margin-top: 30px;

        a {
          display: inline-block;
          width: 240px;
          font-size: 14px;
          font-weight: 600;
          text-align: center;
          padding: 20px 0;
          border: 1px solid #2c2923;
          @include boxSizing(border-box);
        }
      }
    }
  }
}
