#wrap {
  [class^="section-pass"] {
    img {
      max-width: 100%;
    }
  }

  .pass-title {
    padding: 88px 0 82px;
    p {
      font-family: $font-pretendard;
      font-size: 24px;
      line-height: 1.2;
      font-weight: 800;
      color: #2c2923;
    }
  }

  .section-pass {
    &-content {
      padding: 120px 0 160px;
    }

    &-schedule {
      padding: 120px 0 160px;
      background: #f2efe7;
    }

    &-teacher {
      padding: 120px 0 160px;

      .list-teacher {
        margin-top: 40px;
        border-top: 1px solid #d9d9d9;

        li {
          padding: 100px 160px 110px;
          display: flex;
          border-bottom: 1px solid #d9d9d9;
          gap: 80px 100px;
          flex-wrap: wrap;

          .left {
            width: 227px;
          }

          .right {
            flex: 1;

            .img-link {
              margin-top: 60px;
              display: block;
              cursor: pointer;

              & + .img-link {
                margin-top: 20px;
              }
            }
          }

          .full {
            width: 100%;
          }
        }
      }
    }

    &-apply {
      .list {
        display: flex;
        gap: 10px;
        &.point {
          margin-bottom: 10px;
        }

        .img-box {
          cursor: pointer;
        }
      }

      .action {
        text-align: right;
        margin-top: 30px;

        a {
          display: inline-block;
          width: 240px;
          font-size: 14px;
          font-weight: 600;
          text-align: center;
          padding: 20px 0;
          border: 1px solid #2c2923;
          cursor: pointer;
          @include boxSizing(border-box);
        }
      }
    }
  }
}
