#wrap{
	.section-half-banner{
		@include vw(margin,40px 0 8px);
		.wrap{
			max-width:600px;
			margin:0 auto;
		}
		.banner-list{
			display:flex;
			justify-content: center;
			.list{
				width:50%;
				@include vw(margin-left, 9px);
				&:first-child{margin-left:0;}
				a{width:100%;}
				img{width:100%;}
			}
		}
	}
}