#wrap {
	.section-lecture {
		@include vw(padding-bottom, 20px);
		background: #fbfaf6;
		.wrap {
			padding: 0;
		}
		.lecture {
			&-box {
				@include vw(padding, 24px 20px 32px);
				background: #f2efe7;
				&.lecture-wide {
					.lecture-profile {
						.img-box {
							width: 100%;
						}
					}

				}

				.lecture-name {
					p {
						position: relative;
						display: inline-block;
						@include vw(margin-right, 8px);
						@include vw(padding-right, 8px);
						&:after {
							content: '';
							position: absolute;
							top: 50%;
							right: 0;
							width: 1px;
							@include vw(height, 12px);
							background: #e4ded3;
							transform: translateY(-50%);
						}
						&:last-child {
							margin-right: 0;
							padding-right: 0;
							&:after {
								display: none;
							}
						}
					}
				}
			}
			&-profile {
				.img-box {
					@include vw(width, 120px);
					margin: 0 auto;
					@include vw(margin-bottom, 16px);
				}
			}
			&-subject {
				@include vw(font-size, 18px);
				line-height: 1.5;
				font-weight: 600;
				span {
					display: block;
					@include vw(font-size, 14px);
					font-weight: 400;
					line-height: 1.7;
					@include vw(margin-top, 8px);
				}
			}
			&-name {
				line-height: 1.5;
				@include vw(margin-top, 8px);
				strong {
					@include vw(font-size, 13px);
					font-weight: 600;
				}
				.icon-home {
					display: inline-block;
					@include vw(width, 24px);
					@include vw(margin-left, 8px);
				}
			}
			&-type {
				@include vw(margin-top, 16px);
				@include vw(padding-top, 24px);
				border-top: 1px solid #e4ded3;
				dl {
					position: relative;
					display: flex;
					align-items: center;
					line-height: 1.7;
					@include vw(margin-bottom, 8px);
					&:last-child {
						margin-bottom: 0;
					}
					dt {
						@include vw(max-width, 104px);
						@include vw(min-width, 104px);
						@include vw(font-size, 13px);
						font-weight: 400;
						color: #7a746a;
						@include vw(margin-right, 16px);
					}
					dd {
						@include vw(font-size, 13px);
						font-weight: 600;
						.layer-box {
							z-index: 2;
							position: absolute;
							left: 0;
							right: 0;
							@include vw(top, 24px);
							display: none;
							@include vw(font-size, 13px);
							@include vw(padding, 20px);
							border: 1px solid #e4ded3;
							background: #fffffc;
							.layer-title {
								font-weight: 600;
								color: #a07d3b;
								line-height: 1.7;
								@include vw(margin-bottom, 8px);
							}
							.layer-list {
								li {
									font-weight: 400;
									line-height: 1.5;
								}
							}
						}
						.btn-help {
							display: inline-block;
							vertical-align: middle;
							&:hover + .layer-box {
								display: block;
							}
						}

						.btn {
							height: auto;
							@include vw(padding, 4px 8px);
						}
					}
				}
			}
		}
		.layer {
			&-content {
				@include vw(padding, 0 20px 32px);
				background: #fffffc;

				.check-list {
					@include vw(padding, 20px 0);
					border-bottom: 1px solid #e4ded3;
					&:last-child {
						border-bottom: none;
					}
					.form-control {
						.fake-checkbox {
							label {
								overflow: hidden;
								text-overflow: ellipsis;
							}
						}
					}
					&.end {
						.check-control {
							justify-content: flex-end;
						}
					}
				}
				.check-control {
					display: flex;
					align-items: center;
					justify-content: flex-end;
					@include vw(margin-top, 16px);
				}
				.total-box {
					display: flex;
					align-items: center;
					justify-content: space-between;
					@include vw(padding, 24px 0 0);
					border-top: 1px solid #7a746a;
				}
			}
			&-action {
				display: flex;
				align-items: center;
				width: 100%;
				@include vw(padding, 0 20px 32px);
				border-bottom: 1px solid #f2efe7;
				background: #fffffc;
				@include boxSizing(border-box);
				a {
					width: 100%;
					@include vw(margin-left, 8px);
					&:first-child {
						margin-left: 0;
					}
				}
			}
		}
		&-content {
			@include vw(padding-top, 32px);
			.lecture-content {
				@include vw(margin-bottom, 80px);
				&:last-child {
					margin-bottom: 0;
				}
				h3 {
					@include vw(font-size, 16px);
					font-weight: 400;
					line-height: 1.7;
					@include vw(margin-bottom, 20px);
				}
			}
			.lecture-intro {
				@include vw(margin-top, 20px);
				@include vw(padding, 20px 0);
				border: 1px solid #e4ded3;
				border-width: 1px 0;
				font-weight: normal;
				dl {
					@include vw(font-size, 14px);
					line-height: 1.7;
					@include vw(margin-top, 40px);
					&:first-child {
						margin-top: 0;
					}
					dt {
						font-weight: 600;
					}
					dd {
						font-weight: 400;
					}
				}
				.img-box {
					@include vw(margin-top, 20px);
				}
			}

			.book-list {
				.col {
					width: 100%;
					border-bottom: 1px solid #e4ded3;
					a {
						display: flex;
						@include vw(padding, 20px 0);
						.t-img {
							@include vw(width, 100px);
							@include vw(margin-right, 16px);
						}
						.t-desc {
							.desc-title {
								@include vw(font-size, 14px);
								font-weight: 600;
								line-height: 1.7;
								@include vw(margin-bottom, 4px);
							}
							.desc-info {
								p {
									@include vw(font-size, 12px);
									font-weight: 400;
									color: #7a746a;
									line-height: 1.7;
									span {
										position: relative;
										display: inline-block;
										+ span {
											@include vw(margin-left, 8px);
											@include vw(padding-left, 8px);
											&:before {
												content: '';
												position: absolute;
												top: 50%;
												left: 0;
												width: 1px;
												@include vw(height, 12px);
												background: #e4ded3;
												transform: translateY(-50%);
											}
										}
									}
								}
							}
						}
					}
				}
			}

			.notice-list-table {
				border-top: 1px solid #e4ded3;
				table {
					width: 100%;
					tr {
						border-bottom: 1px solid #e4ded3;
						td {
							@include vw(font-size, 13px);
							font-weight: 400;
							line-height: 1.7;
							color: #7a746a;
							@include vw(padding, 16px 4px);
							strong {
								color: #2c2923;
								font-weight: 600;
							}
						}
					}
				}
			}

			.lecture-review-list {
				border-top: 1px solid #e4ded3;
				.review-list {
					border-bottom: 1px solid #e4ded3;
					a {
						display: block;
						@include vw(font-size, 14px);
						font-weight: 400;
						line-height: 1.7;
						@include vw(padding, 20px 0);
						.review-desc {
							display: -webkit-box;
							text-overflow: ellipsis;
							overflow: hidden;
							word-break: break-word;
							-webkit-line-clamp: 2;
							-webkit-box-orient: vertical;
						}
						.review-info {
							@include vw(font-size, 13px);
							@include vw(margin-top, 4px);
						}
					}
				}

				.action {
					@include vw(margin-top, 20px);
					a {
						width: 100%;
						@include vw(height, 56px);
					}
				}
			}
		}
	}

	.lecture-data-list {
		border-top: 1px solid $color-light-brown;
		.list {
			@include vw(padding, 24px 0);
			border-bottom: 1px solid $color-light-brown;
			.desc-box {
				position: relative;
				display: flex;
				//width:100%;
				.t-img {
					background-color: $color-light-brown2;
					@include vw(min-width, 48px);
					@include vw(height, 48px);
					overflow: hidden;
					flex: 0 0 48px;

					img {
						width: 100%;
						height: 100%;
					}

					& + .t-desc {
						@include vw(margin-left, 16px);
					}
				}

				.t-desc {
					text-align: left;
					width: 100%;
					.desc-more + .desc-info {
						@include vw(margin-bottom, 10px);
					}
					.desc-info {
						display: flex;
						align-items: center;
						@include vw(margin-bottom, 4px);
						p {
							position: relative;
							@include vw(font-size, 12px);
							color: $color-black;
							@include vw(line-height, 20.4px);
							font-weight: 400;
							strong {
								font-weight: 600;
							}
							& + p {
								@include vw(margin-left, 8px);
								@include vw(padding-left, 8px);
								&:before {
									content: '';
									width: 1px;
									@include vw(height, 12px);
									background-color: $color-light-brown;
									position: absolute;
									left: 0;
									top: 50%;
									@include vw(margin-top, -6px);
								}
							}

							span {
								color: $color-gray;
							}
						}
					}

					.desc-title {
						color: $color-black;
						font-weight: 600;
						@include vw(font-size, 14px);
						@include vw(line-height, 23.8px);
						@include multipleEllipsis(2);
						a {
							display: block;
						}

						strong {
							@include vw(font-size, 16px);
							@include vw(line-height, 27.2px);
						}
					}

					.desc-desc {
						color: $color-black;
						font-weight: 400;
						@include vw(font-size, 14px);
						@include vw(line-height, 23.8px);
					}

					.desc-text {
						@include vw(margin-top, 4px);
						display: flex;
						@include vw(font-size, 12px);
						color: $color-black;
						@include vw(line-height, 20.4px);
						p {
							@include vw(font-size, 12px);
							color: $color-black;
							@include vw(line-height, 20.4px);
							position: relative;
							display: inline-block;
							vertical-align: middle;
							color: $color-gray;
							font-weight: 400;
							span {
								display: inline-block;
								@include vw(margin-left, 4px);
								color: $color-black;
							}
							strong {
								display: inline-block;
								font-weight: 600;
								color: $color-brown;
								@include vw(margin-left, 4px);
							}
							& + p {
								@include vw(padding-left, 8px);
								@include vw(margin-left, 8px);
								&:before {
									content: '';
									width: 1px;
									@include vw(height, 12px);
									background-color: $color-light-brown;
									position: absolute;
									left: 0;
									top: 50%;
									@include vw(margin-top, -6px);
								}
							}
						}
					}

					.desc-num {
						color: $color-brown;
						@include vw(font-size, 14px);
						font-weight: 600;
					}

					.desc-price,
					.desc-point {
						display: flex;
						justify-content: space-between;
						align-items: center;
						@include vw(margin-top, 6px);
						.count {
							@include vw(font-size, 12px);
							color: $color-gray;
							strong {
								color: $color-black;
								display: inline-block;
								@include vw(margin-left, 5px);
							}
						}

						.price {
							display: flex;
							justify-content: flex-end;
							align-items: center;
							> div {
								@include vw(margin-left, 12px);
							}
							.price-before {
								color: $color-light-brown;
								@include vw(font-size, 13px);
								font-weight: 400;
								text-decoration: line-through;
							}
							.price-after {
								color: $color-brown;
								@include vw(font-size, 14px);
								font-weight: 600;
							}
							.price-sale {
								color: #e50000;
								@include vw(font-size, 14px);
								font-weight: 600;
							}
						}
					}
				}

				.t-more,
				.desc-more {
					position: absolute;
					right: 0;
					@include vw(top, -6px);
					display: flex;
					font-size: 0;
					.btn-star {
						background: url('../images/mobile/btn_star_off.svg') no-repeat 0 0;
						background-size: cover;
						@include vw(width, 32px);
						@include vw(height, 32px);
						display: block;
						img {
							display: none;
						}
						&.active {
							img {
								display: block;
							}
						}
					}
				}
			}

			.action {
				@include vw(margin-top, 12px);
				.btn {
					@include vw(margin-left, 8px);
				}
			}
		}
	}

	.lecture-notice-list {
		border-top: 1px solid $color-light-brown;
		.list {
			border-bottom: 1px solid $color-light-brown;
			@include vw(padding, 16px 0);

			.info-box {
				display: flex;
				justify-content: space-between;
				@include vw(padding, 0 16px);
				.info-list {
					.info-text {
						display: flex;
						p {
							position: relative;
							@include vw(font-size, 12px);
							color: $color-gray;
							@include vw(line-height, 20.4px);
							font-weight: 400;
							& + p {
								@include vw(margin-left, 8px);
								@include vw(padding-left, 8px);
								&:before {
									content: '';
									width: 1px;
									@include vw(height, 12px);
									background-color: $color-light-brown;
									position: absolute;
									left: 0;
									top: 50%;
									@include vw(margin-top, -6px);
								}
							}
						}
					}

					.info-subject {
						color: $color-black;
						@include vw(font-size, 13px);
						@include vw(line-height, 22.1px);
						font-weight: 600;
					}
				}

				.info-time {
					color: $color-gray;
					@include vw(font-size, 12px);
					@include vw(line-height, 20.4px);
					font-weight: 400;
				}
			}

			.action-box {
				@include vw(margin-top, 16px);
				display: none;
				justify-content: center;
				.btn {
					@include vw(margin-left, 4px);
					&:first-child {
						margin-left: 0;
					}
				}
			}

			&.open {
				background-color: $color-light-brown2;
				.action-box {
					display: flex;
				}
			}
		}
	}

	.lecture-data-input {
		dl {
			@include vw(margin-top, 24px);
			&:first-child {
				@include vw(margin-top, 20px);
			}
			dt,
			dd {
			}
			dt {
				font-weight: 600;
				@include vw(font-size, 13px);
				@include vw(line-height, 22.1px);
			}
			dd {
				position: relative;
				@include vw(margin-top, 8px);
			}
		}

		.btn-map {
			//@include vw(margin-left,20px);
			margin-left: auto;
		}
		.btn-address,
		.btn-input {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			@include vw(right, 12px);
			@include vw(height, 26px);
		}
	}

	.lecture-data-view {
		.lecture-line-box {
			border-top: 1px solid $color-light-brown;
			@include vw(padding, 16px 0);
		}
		.lecture-subject {
			font-weight: 600;
			@include vw(font-size, 18px);
			@include vw(line-height, 27px);
			color: $color-black;
		}

		.lecture-info {
			@include vw(margin-bottom, 4px);
			p {
				@include vw(font-size, 13px);
				@include vw(line-height, 22.1px);
				font-weight: 400;
				color: $color-gray;
				strong {
					font-weight: 700;
				}
			}
		}

		.lecture-text {
			@include vw(margin-top, 4px);
			display: flex;
			@include vw(font-size, 13px);
			color: $color-black;
			@include vw(line-height, 22.1px);
			p {
				@include vw(font-size, 13px);
				@include vw(line-height, 22.1px);
				position: relative;
				display: inline-block;
				vertical-align: middle;
				color: $color-gray;
				font-weight: 400;
				span {
					display: inline-block;
					@include vw(margin-left, 4px);
					color: $color-black;
				}
				strong {
					display: inline-block;
					font-weight: 600;
					color: $color-brown;
					@include vw(margin-left, 4px);
				}
				& + p {
					@include vw(padding-left, 8px);
					@include vw(margin-left, 8px);
					&:before {
						content: '';
						width: 1px;
						@include vw(height, 12px);
						background-color: $color-light-brown;
						position: absolute;
						left: 0;
						top: 50%;
						@include vw(margin-top, -6px);
					}
				}
			}
		}

		.lecture-category {
			display: flex;
			@include vw(font-size, 12px);
			color: $color-black;
			@include vw(line-height, 20.4px);
			p {
				@include vw(font-size, 12px);
				color: $color-black;
				@include vw(line-height, 20.4px);
				position: relative;
				display: inline-block;
				vertical-align: middle;
				color: $color-gray;
				font-weight: 400;
				span {
					display: inline-block;
					@include vw(margin-left, 4px);
					color: $color-black;
				}
				strong {
					display: inline-block;
					font-weight: 600;
					@include vw(margin-left, 4px);
				}
				& + p {
					@include vw(padding-left, 8px);
					@include vw(margin-left, 8px);
					&:before {
						content: '';
						width: 1px;
						@include vw(height, 12px);
						background-color: $color-light-brown;
						position: absolute;
						left: 0;
						top: 50%;
						@include vw(margin-top, -6px);
					}
				}
			}
		}

		.lecture-title {
			@include vw(padding-bottom, 20px);
			.lecture-text {
				@include vw(margin-top, 8px);
			}
		}

		.lecture-desc {
			@include vw(margin-top, 20px);
			font-weight: 400;
			@include vw(font-size, 14px);
			color: $color-black;
			@include vw(line-height, 23.8px);
		}
	}

	.section-special-lecture {
		.special-lecture {
			&-title {
				@include vw(font-size, 32px);
				font-weight: 300;
				line-height: 1.4;
				@include vw(padding-top, 80px);
				@include vw(padding-bottom, 60px);
			}
			&-text {
				ul {
					@include vw(padding-bottom, 20px);
					li {
						position: relative;
						@include vw(font-size, 14px);
						font-weight: 400;
						line-height: 1.7;
						@include vw(padding-left, 12px);
						&:before {
							content: '-';
							position: absolute;
							left: 0;
							font-weight: 400;
						}
					}
				}
			}
		}

		& + .section-promotion-lecture {
			padding-top: 0;
		}
	}

	.full-lectures {
		.tab-menu {
			padding: 40px 20px 32px 20px;
		}

		.lecture-data-list.border-none {
			margin-top: -22px;
			border-top: none;
		}
	}
}
